# Database (PostgreSQL)
DATABASE_URL="postgresql://user:password@localhost:5432/cft?schema=public"

# NextAuth
AUTH_SECRET="FI/lc1XzGa1kqQB0M9j2z/W7yThHVhm54c9rLACiUJs="
NEXTAUTH_URL="https://cft-23l3p7phg-civisorg.vercel.app"

# Cloudinary (video / photo uploads)
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=""
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=""

# App
NEXT_PUBLIC_APP_URL="https://cft-23l3p7phg-civisorg.vercel.app"
